# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Poetry
poetry.lock

# Misc
*.log
*.bak
